title {
    background-color: rgb(21, 255, 0);
}

body {
    background-color: rgb(255, 243, 224);
    width: 900px;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table,
th,
td {
    margin-top: 15px;
    padding: 3px;
    border: 1px solid rgb(238, 38, 38);
}